body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
    padding-top: 20px;
    background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 33%, #fbc2eb 66%, #a18cd1 100%);
}

.worldview {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: 90%;
    max-width: 1000px;
    height: 500px;
    margin: 20px;
    margin-top: 5px;
}

.center {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    background-color: #e3f2fd;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.worldview:hover .box {
    opacity: 1;
}

h3 {
    margin-bottom: 10px;
}

.box:nth-child(2) {
    transition-delay: 0.1s;
}

.box:nth-child(3) {
    transition-delay: 0.2s;
}

.box:nth-child(4) {
    transition-delay: 0.3s;
}

.box:nth-child(5) {
    transition-delay: 0.4s;
}

.box:nth-child(6) {
    transition-delay: 0.5s;
}

.box:nth-child(7) {
    transition-delay: 0.6s;
}

.box:nth-child(8) {
    transition-delay: 0.7s;
}

.center:active ~ .box {
    opacity: 1;
}
